:root {
  --background_custom_color: rgb(70, 70, 70);
  --contrast_custom_color: rgb(187, 187, 187);
}

body {
  background-color: var(--background_custom_color);
}

.container {
  width: 55vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  background-color: var(--background_custom_color);
  justify-content: center;
}

.head_container {
  width: 90%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0.5vh;
  color: var(--contrast_custom_color);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 12vw);
  grid-auto-rows: 9vw;
  grid-auto-columns: 12vw;
  grid-gap: 0.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.grid-item {
  position: relative;
  color: var(--background_custom_color);
  background-color: var(--contrast_custom_color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vw;
  text-align: center;
  font-size: 22px;
  /*border: 1px solid transparent;*/
  cursor: text;
  border-radius: 5%;
}

.grid-item-input {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  color: var(--background_custom_color);
  font-size: 22px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: text;
  justify-content: center;
  text-align: center;
  border-radius: 5%;
  resize: none;
}

.grid-item-input.bad {
  background-color: rgb(219, 141, 24);
}

.grid-item-input.medium {
  background-color: rgb(235, 214, 28);
}

.grid-item-input.good {
  background-color: rgb(37, 173, 19);
}

.grid-item-input.perfect {
  background-color: rgb(145, 82, 226);
}

.grid-item-input.unknown {
  background-color: rgb(145, 79, 79);
}

.grid-item-input.empty {
  background-color: rgb(219, 218, 218);
}

.grid-item-score {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.404);
  color: var(--background_custom_color);
  bottom: 0;
  right: 2px;
  bottom: 2px;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  color: var(--background_custom_color);
  font-size: 20px;
  padding: 3px;
  border-radius: 10%;
}

.button_container {
  height: 3vh;
  width: 80%;
  justify-content: center;
  align-items: center;
  padding-bottom: 1vw;
}

.helper_container {
  height: 3vh;
  width: 80%;
  justify-content: center;
  align-items: center;
  padding-bottom: 1vw;
}

#helperButton {
  width: 100%;
  font-size: 0.8vw;
  font-weight: bold;
  background-color: var(--background_custom_color);
  color: var(--contrast_custom_color);
}

#validateButton {
  width: 100%;
  font-size: 0.8vw;
  font-weight: bold;
  background-color: var(--background_custom_color);
  color: var(--contrast_custom_color);
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-color: var(--background_custom_color);
    justify-content: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 22vw);
    grid-auto-rows: 22vw;
    grid-auto-columns: 22vw;
    grid-gap: 3vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
  }

  .grid-item {
    position: relative;
    color: var(--background_custom_color);
    background-color: var(--contrast_custom_color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw; /* Adjust based on preference */
    text-align: center;
    font-size: 3vw; /* Adjust based on preference */
    border: 1px solid transparent; /* For visibility */
    cursor: text;
  }

  .grid-item-input {
    font-size: 3vw;
  }

  .grid-item-score {
    font-size: 3vw;
  }

  .helper_container {
    height: 5vw;
    width: 95%;
    justify-content: center;
    align-items: center;
    padding-top: 3vw;
  }

  .button_container {
    height: 5vw;
    width: 95%;
    justify-content: center;
    padding-top: 3vw;
    align-items: center;
  }

  #helperButton {
    width: 100%;
    font-size: 3vw;
    font-weight: bold;
    color: var(--contrast_custom_color);
    background-color: var(--background_custom_color);
  }

  #validateButton {
    width: 100%;
    font-size: 3vw;
    font-weight: bold;
    color: var(--contrast_custom_color);
    background-color: var(--background_custom_color);
  }
}
